body {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-template-areas: 
     'header header header header header'
     'main main main main main'
     'main main main main main'
     'footer footer footer footer footer';
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}